html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
span#menu svg {
  width: 40px;
  fill: #000;
}
aside, main {
  box-sizing: border-box;
}
main {
  width: 100%;
  padding: 15px;
  padding-left: 260px;
}

/*
* Off-canvas layout styles.
*/

/* Since we're mobile-first, by default, the drawer is hidden. */
aside {
  position: fixed;
  height: 100%;
  z-index: 1;
  color: #fff;
  /* overflow-y: scroll; */
  background: #29c997;
}
/* aside.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
} */
.sidebar-header {
  padding: 30px 10px 0;
  text-align: center;
}
.bg-white {
  background: white;
}

.sidebar-list {
  padding: 0;
  list-style: none;
  margin: 20px 0 40px;
}

.sidebar-list li {
  text-indent: 20px;
  line-height: 45px;
}
.sidebar-list li a {
  display: block;
  text-decoration: none;
  color: #ddd;
  border-top: 1px  solid #fcfcfc;
  /*border-bottom: 1px solid #222;*/
}
.sidebar-list li a:hover {
  background: rgb(17, 151, 120);
  border-left: 4px solid #eee;
}

input[type=radio] {
  width: 1.2em;
  height: 1.0em;
}

/* If there is enough space (> 600px), we keep the drawer open all the time. */
@media (min-width: 600px) {

  /* We open the drawer. */
  main {
    padding-left: 260px;
  }
}

/* If there is space (> 800px), we keep the drawer open by default.
@media (min-width: 600px) {

  aside {
    position: fixed;
    min-height: 100%;
  }
} */